/* mobile */
@media only screen and (max-width: 720px) {
  .container {
    padding-top: 1rem;
  }
  .search__wrapper {
    padding: 1rem 1rem 0 1rem;
  }
  .emails__wrapper {
    padding: 0;
  }
}

/* desktop */
@media only screen and (min-width: 720px) {
  .container {
    display: flex;
    align-items: center;
    padding-top: 3rem;
  }
  
  .contents {
    width: 100%;
  }
  
  .search__wrapper, .emails__wrapper {
    padding: 0 3rem;
  }
}